.game-client {
  gap: 0;
}

.game-client .player {
  padding: 1rem;
}

.game-client .player .player-name {
  padding: 0;
  font-size: 3em;
  margin: 0;
}

.game-client > header {
  padding: 1em;
  background-color: white;
}

.game-board > header {
  padding: 2em;
  background-color: var(--primary);
}

.players-list {
  padding: 1em;
  background-color: white;
}

.player-name {
  padding: 0.25em 1.25em;
  background-color: var(--primaryLight);
  color: var(--primaryDark);
  border-radius: 15px;
  font-weight: 900;
}

.player-hand {
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  flex-wrap: nowrap;
}
