.game-client {
  gap: 0;
  min-height: 100dvh;
}

.game-client .player .player-name {
  padding: 0;
  font-size: 3em;
  margin: 0;
}

.game-client > header {
  padding: 1em;
  background-color: white;
}

.game-board > header {
  padding: 2em;
  background-color: var(--primary);
}

.player {
  height: 100%;
  flex: 1;
}

.players-list {
  padding: 1em;
  background-color: white;
}

.player-info {
}

.player-name {
  padding: 0.25em 1.25em;
  background-color: var(--primaryLight);
  color: var(--primaryDark);
  border-radius: 15px;
  font-weight: 900;
}

.player-hand {
  overflow: auto;
  flex-wrap: nowrap;
  width: 100%;
  background-color: var(--primary);
  padding: 1rem;
}
